.contact {
    width: 75%;
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    font-family: $fontStack;

    &__header {
        text-align: center;
        font-size: 1.5em;
    }

    &__card {
        background-color: $offwhite;
        color: $dark-grey;
        text-align: center;
        margin: 1.5rem;
        padding: 1rem;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border-radius: 4px;

        & img {
            width: 50px;
            display: block;
            margin: 0 auto;
        }

        & h3 {
            font-size: 1.25em;
            padding: 0.5rem;
        }

        & a {
            text-decoration: none;
            color: $main-red;
        }
    }
}

.contactForm {
    width: 75%;
}