.contact__cardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.contact {
    width: 75%;
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    font-family: $fontStack;

    &__header {
        text-align: center;
        font-size: 1.5em;
    }

    &__card {
        background-color: $offwhite;
        color: $dark-grey;
        text-align: center;
        margin: 1.5rem 0 1.5rem 0;
        padding: 1rem;
        min-height: 125px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border-radius: 4px;

        & img {
            width: 50px;
            display: block;
            margin: 0 auto;
        }

        & h3 {
            font-size: 1.25em;
            padding: 0.5rem;
        }

        & a {
            text-decoration: none;
            color: $main-red;
        }
    }
}

.formMapWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-bottom: 1.5rem;
}

.contactForm {
    width: 100%;
    background-color: $offwhite;
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 4px;
    margin: 0.75rem;

    &__heading {
        font-size: 1.5em;
        text-align: center;
        margin: 1rem 0 1rem 0;
    }

    & label {
        display: none;
    }

    & input {
        border: none;
        border-bottom: 2px $main-red solid;
        background-color: $offwhite;
        margin: 1rem 0 1rem 0;
        width: 75%;
        height: 1rem;
        display: block;
        align-self: center;

        &::placeholder {
            font-family: $fontStack;
            color: $light-grey;
            font-size: 1rem;
        }
    }

    & #message {
        height: 150px;

        &::placeholder {
            top: 0;
        }
    }

    & .submit {
    border: none;
    border-radius: 32px;
    background-color: $main-red;
    color: $offwhite;
    font-family: $fontStack;
    font-size: 1.25rem;
    width: 40%;
    padding: 0.5rem;
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    }
}

.contactMap {
    width:100%;
    height: auto;
    margin: 0.75rem;

    &__heading {
        font-family: $fontStack;
        text-align: center;
        font-size: 1.5em;
        margin: 1.5rem 0 1.5rem 0;
    }

    & iframe {
        height: 500px;
    }
}

@media screen and (min-width:768px) {
    .contact__cardWrapper {
        flex-direction: row;
    }
    .contact {
        &__card {
            margin: 1.5rem;
            width: 30%;
            max-width: 300px;
        }
    }

    .formMapWrapper {
        flex-direction: row-reverse;
        justify-content: space-around;
        justify-items: flex-end;
        height: 100%;

    }

    .contactForm {
        min-width: 350px;
        max-height: 500px;
        margin: 0.75rem;
    }

    .contactMap {
        min-width: 350px;
        max-height: 500px;
        margin: 0.75rem;
    }
}