.intro {
    text-align: center;
    font-family: $fontStack;
    width: 100vw;
    height: 100%;

    &__image {
        display: block;
        width: 200px;
        height: 100%;
        margin: 1.5em auto;
        box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        border-left: 20px solid $main-red;
    }

    &__pageBreak {
        display: block;
        margin: 2em auto;
    }

    &__question {
        font-family: $fontStack;
        color: $main-red;
        font-size: 2em;
    }

    &__answer {
        font-size: 1.5em;
        padding-bottom: 0.75em;
    }

    &__underline {
        width: 25%;
        margin: 1em auto;
    }

    &__copy {
        display: block;
        margin: 0 auto;
        text-align: left;
        width: 75%;
        text-align: justify;
        line-height: 1.25em;
    }
}

.joinUs {
    height: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 2em;

    &__header {
        font-size: 1.5rem;
        font-family: $fontStack;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__copy {
        font-family: $fontStack;
        width: 75vw;
        display: block;
        margin: 1em auto;
        text-align: justify;
        line-height: 1.25em;
    }

    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 1em;

        & img {
            display: block;
            margin: 0 auto;
            padding-bottom: 1em;
        }

        & p {
            font-family: $fontStack;
            display: block;
            margin: 0 auto;
            padding-bottom: 1em;
        }
    }
}

.testimonials {
    position: relative;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding-bottom: 2em;


    &__heading {
        font-size: 1.5em;
        font-family: $fontStack;
        padding-bottom: 1em;
        text-align: center;

    }

    .testimonial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        font-size: 1.5em;
        font-family: $fontStack;
        margin-top: 33.5px;
        background-color: $dark-grey;

        &__profilePic {
            width: 67px;
            border-radius: 35.525px;
            display: block;
            margin: 0 auto;
            margin-top: -33.5px;
        }

        &__name {
            text-align: center;
            padding-bottom: 0.25em;
        }

        &__role {
            text-align: center;
            color: $main-red;
            font-size: 0.75em;
        }

        &__copy {
            font-size: 0.6em;
            padding: 1em 2em 4em 2em;
            line-height: 1.25em;
            text-align: justify;
        }
    }

    & button {
        width: 40px;
        height: 40px;
        background-color: $main-red;
        border: none;
        border-radius: 20px;
        margin-top: 10em;
    }

    &__left {
        position: absolute;
        left: -20px;
    }

    &__right {
        position: absolute;
        right: -20px;
    }
}

@media screen and (min-width: 768px) {
    .intro {
        width: 75%;
        display: block;
        margin: 0 auto;
        padding: 2rem 0 2rem;

        &__image {
            width: 300px;
            height: 100%;
        }

        &__q1 {
            display: flex;
            flex-direction: row-reverse;
            justify-items: baseline;
        }

        &__q2 {
            display: flex;
            flex-direction: row;
            justify-items: baseline;
        }
    }

    .testimonials {

    .testimonial {
        width: 50%;
        align-self: center;
        }

        & button {
            margin-top: 10em;
        }

        &__left {
            left: 20%;
        }

        &__right {
            right: 20%;
        }
    }

}

