<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>London Referees Group</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <main id="app">
        <h1 class="hidden">Main Site</h1>
        <header class="nav">
            <h2 class="hidden">Main Nav</h2>

            <nav class="nav__main">

            </nav>
            <nav class="nav__mobile">
                <h2 class="hidden">Mobile Nav</h2>
                <ul class="nav__mobile--ul">
                    <div class="burgerButton">
                        <div class="burgerBar1"></div>
                        <div class="burgerBar2"></div>
                        <div class="burgerBar3"></div>
                    </div>
                    <li class="nav__mobile--li">Home</li>
                    <li class="nav__mobile--li">About Us</li>
                    <li class="nav__mobile--li">Members</li>
                    <li class="nav__mobile--li">Train</li>
                    <li class="nav__mobile--li">Contact Us</li>
                </ul>
            </nav>
        </header>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer type="module" src="scripts/main.js"></script>
</body>
</html>