<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>London Referees Group</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/reset.css">

</head>
<body>
    <main id="app">
        <h1 class="hidden">Main Site</h1>
            <div class="burgerButton">
                <div class="burgerBar1"></div>
                <div class="burgerBar2"></div>
                <div class="burgerBar3"></div>
            </div>

        <!-- Main Navigation Section (mobile and desktop) -->
        <header class="nav">
            <h2 class="hidden">Main Nav</h2>
            <nav class="nav__main hidden">
                <ul class="nav__main--ul">
                    <li class="nav__main--li">Home</li>
                    <li class="nav__main--li">About Us</li>
                    <li class="nav__main--li">Members</li>
                    <li class="nav__main--li">Train</li>
                    <li class="nav__main--li">Contact Us</li>
                </ul>
            </nav>
            <nav class="nav__mobile hidden"> <!-- toggle hidden class with JS-->
                <h2 class="hidden">Mobile Nav</h2>
                <ul class="nav__mobile--ul">
                    <li class="nav__mobile--li">Home</li>
                    <li class="nav__mobile--li">About Us</li>
                    <li class="nav__mobile--li">Members</li>
                    <li class="nav__mobile--li">Train</li>
                    <li class="nav__mobile--li">Contact Us</li>
                </ul>
            </nav>
        </header>

        <!-- Header Section -->
        <section class="header">
            <h2 class="hidden">Hero Photo Section</h2>
            <img class="header__logo" src="images/logo.svg" alt="LRG Logo">
            <p class="header__slogan">The Game Is In Your Hands</p>
            <button class="header__learn">Learn More</button>
        </section>

        <!-- Intro Section -->
        <section class="intro">
            <h2 class="hidden">Introduction to London Referees Group</h2>
                    <img src="images/whoThumb.jpg" alt="Referee making a call" class="intro__image">
                    <h3 class="intro__question">Who are we?</h3>
                    <hr class="intro__underline">
                    <p class="intro__answer">We are London Referees Group</p>
                        <p class="intro__copy">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos dolore illum, iusto magni tenetur quam blanditiis ipsa non corrupti quo dicta pariatur nihil beatae ad ullam omnis repellendus. Suscipit, quisquam.</p>
            <img src="images/puckBreak.svg" alt="Hockey Puck Icon" class="intro__pageBreak">
                <img src="images/whatThumb.jpg" alt="Second Intro picture" class="intro__image">
                    <h3 class="intro__question">What we do:</h3>
                    <hr class="intro__underline">
                    <p class="intro__answer">The third team on the ice.</p>
                        <p class="intro__copy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus dolorem beatae accusamus obcaecati sint, nulla nisi similique quo esse consequuntur sapiente mollitia laboriosam a provident fugit cumque commodi ab eos.</p>
        </section>

        <!-- Why You should be a ref section -->
        <section class="joinUs">
            <h2 class="joinUs__header">Why you should be a referee:</h2>
                <p class="joinUs__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci veniam aliquid sapiente iure, dolorem eaque cupiditate recusandae esse. Quisquam facere eius tempora voluptate ducimus, magni qui voluptas ad vitae iure?</p>
            <div class="joinUs__icons">
                <div>
                    <img src="images/whistleIcon.svg" alt="First Icon">
                    <p>You make the calls.</p>
                </div>
                <div>
                    <img src="images/helmetIcon.svg" alt="First Icon">
                    <p>Protect the game.</p>
                </div>
            </div>
            <button class="header__learn">Learn More</button>
        </section>

        <!-- Testimonial section -->
        <section class="testimonials">
            <h2 class="testimonials__heading">What Clients Say:</h2>
            <!-- We should probably have some backend work here for -->
            <!-- selecting the different testimonials -->
            <div class="testimonial">
                <img src="images/testimonialProfilePic1.jpg" alt="Testimonial Profile Picture" class="testimonial__profilePic">
                <p class="testimonial__name">John Carter</p>
                <p class="testimonial__role">Graduate</p>
                <p class="testimonial__copy">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem aliquid odit ab magnam mollitia, hic, asperiores error maxime veniam eum nihil, adipisci delectus qui animi perspiciatis culpa ipsa aperiam rem.</p>
            </div>
            <button id="testiLeft" class="testimonials__left"><svg class="svg-icon" viewBox="0 0 20 20"><path fill="white" d="M8.388,10.049l4.76-4.873c0.303-0.31,0.297-0.804-0.012-1.105c-0.309-0.304-0.803-0.293-1.105,0.012L6.726,9.516c-0.303,0.31-0.296,0.805,0.012,1.105l5.433,5.307c0.152,0.148,0.35,0.223,0.547,0.223c0.203,0,0.406-0.08,0.559-0.236c0.303-0.309,0.295-0.803-0.012-1.104L8.388,10.049z"></path></svg></button>
            <button id="testiRight" class="testimonials__right"><svg class="svg-icon" viewBox="0 0 20 20"><path fill="white" d="M11.611,10.049l-4.76-4.873c-0.303-0.31-0.297-0.804,0.012-1.105c0.309-0.304,0.803-0.293,1.105,0.012l5.306,5.433c0.304,0.31,0.296,0.805-0.012,1.105L7.83,15.928c-0.152,0.148-0.35,0.223-0.547,0.223c-0.203,0-0.406-0.08-0.559-0.236c-0.303-0.309-0.295-0.803,0.012-1.104L11.611,10.049z"></path></svg></button>
        </section>

        <footer class="footer">
            <div class="footer__partners">
                <h2>Partners:</h2>
                    <div class="footer__partners--logos">
                        <a href="#" class="partnerLink"><img src="images/partnerHockeyCanada.svg" alt="Partner Icon"></a>
                        <a href="#" class="partnerLink"><img src="images/partnerOHF.svg" alt="Partner Icon"></a>
                        <a href="#" class="partnerLink"><img src="images/partnerAllianceHockey.svg" alt="Partner Icon"></a>
                        <a href="#" class="partnerLink"><img src="images/partnerOMHA.svg" alt="Partner Icon"></a>
                        <a href="#" class="partnerLink"><img src="images/partnerWHA.svg" alt="Partner Icon"></a>
                        <a href="#" class="partnerLink"><img src="images/partnerOHA.svg" alt="Partner Icon"></a>
                        <a href="#" class="partnerLink"><img src="images/partnerSportAbility.svg" alt="Partner Icon"></a>
                    </div>
            </div>

            <img src="images/logo.svg" alt="LRG Logo" class="footer__logo">

            <nav class="footer__socialNav">
                <h2 class="hidden">Social Media Navigation</h2>
                <ul>
                    <li><a href="#"><img src="images/facebook.svg" alt="facebook"></a></li>
                    <li><a href="#"><img src="images/twitter.svg" alt="twitter"></a></li>
                    <li><a href="#"><img src="images/insta.svg" alt="instagram"></a></li>
                    <li><a href="#"><img src="images/youtube.svg" alt="youtube"></a></li>
                </ul>
            </nav>

            <div class="footer__contact">
                <a href="tel:222-111-2222"><img src="images/phoneIcon.svg" alt="Phone Icon"> 222-111-2222</a>
                <a href="mailto:lrg@londonrefereesgroup.com"><img src="images/emailIcon.svg" alt="email Icon"> lrg@londonrefereesgroup.com</a>
            </div>

            <nav class="footer__mainNav">
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Members</li>
                    <li>Train</li>
                    <li>Contact Us</li>
                </ul>
            </nav>

            <p class="footer__copyright">© 2020 all rights reserved</p>
        </footer>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer type="module" src="scripts/main.js"></script>
</body>
</html>